<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- wrapper -->
    <div id="wrapper">
      <h2>User Info</h2>
      <p>
        <b>Name: </b><span id="userInfoName"></span><br>
        <b>Age: </b><span id="userInfoAge"></span><br>
        <b>Gender: </b><span id="userInfoGender"></span><br>
        <b>Location: </b><span id="userInfoLocation"></span><br>
      </p>
      <!-- userlist -->
      <h2>User List</h2>
      <div id="userList">
        <table>
          <thead>
            <th>UserName</th>
            <th>Email</th>
            <th>Delete?</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- userlist -->
    </div>
    <!-- wrapper -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascripts/global.js"></script>
</html>
